* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #title {
        font-size: 8em;
        font-weight: bold;

    }
}

//Ipad Landscape
@media only screen and (max-width: 1024px) {

    .container {
        #title {
            font-size: 4em;
            font-weight: bold;

        }
    }

}

//Ipad Portrait
@media only screen and (max-width: 768px) {

    .container {
        #title {
            font-size: 4em;
            font-weight: bold;

        }
    }

}

//Mobile
@media only screen and (max-width: 480px) {

    .container {
        #title {
            font-size: 1.8em;
            font-weight: bold;

        }
    }

}