.fa-trash, .fa-check{
    pointer-events: none;
}

.completed, .completed:not(.trash-btn){
    text-decoration: line-through;
}

li{
    list-style-type: none;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    
        margin: 10px;
        font-size: 20px;
        color: #70132f;
        text-decoration: none;
        font-weight: bold;
    

}

.container{
    
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    header{
       
        padding: 20px 0;
        text-align: center;
    }

    form{
        margin: 0 auto;

        .box{
            margin: 0;
            

            input {
                width: 300px;
                height: 30px;
                padding-right: 50px;
                padding: 10px;
            }
            
            button {
                margin-left: -50px;
                height: 31px;
                width: 50px;
                border: none;
                background-color: transparent;

                .fas{
                    font-size: 2.5em;
                    margin: -22px -4px;
                    position: absolute;
                    color: black;
                }
            }
        }

        select{
            padding: 6px 8px;
            width: 100%;
            margin: 10px auto;
        }
    }

    .todo-container{
        width: 35%;
        margin: 0 auto;
        .todo-list{
            margin: 40px auto;
           .todo{
            display: flex;
            width: 63%;
            margin: 10 auto;
            .complete-btn{
                font-size: 10px;
                margin: 0 9px 0 0;
                border-radius: 50%;
                padding: 8px;
                border: none;
                background-color: #3f953f;
                color: white;
              
            }

            .trash-btn{
                font-size: 17px;
                
                border: none;
                background: transparent;
                color: #a22323;
            }

           
                .todo-item{
                    flex-grow: 1;
                   
                    font-weight: bold;

                   
                }
            }
           
        }
    }
}

@media all and (min-width: 280px) and (max-width: 768px) { 

    .container{
        .todo-container{
            width: 100%;
        }
    }
   
}